<header>
    <nav class="navbar navbar-dark bg-primary">
        <a routerLink="agendamentos" class="navbar-brand">
            <fa-icon [icon]="farCalendarAlt"></fa-icon>CALENDÁRIO DE EVENTOS</a>
        <div *ngIf="user; else login">
            <fa-icon [icon]="fasUserCircle"></fa-icon>
            <a class="mr-4">{{ user.sub }}</a>
            <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
        </div>
        <ng-template #login>
            <span class="navbar-text">
                Please, login!
            </span>
        </ng-template>
    </nav>
</header>