<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ng-container *ngIf="isCharging===false; else charging">
                <button type="button" class="btn btn-dark btn-sm" routerLink="/agendamentos/eventos">
                    <fa-icon [icon]="fasArrowCircleLeft"></fa-icon>
                    Voltar
                </button>
                <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" locale="pt-br" [header]=" { left: 'prev,next today', center: 'title', right: 'dayGridMonth,dayGridWeek,dayGridDay' } " [events]="events"></full-calendar>
            </ng-container>
            <ng-template #charging>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>