.alert {
    text-align: center;
}

button.close {
    font-size: 2rem;
    color: red;
}

button.close:focus {
    outline: 0px
}

label {
    font-weight: bold;
}

fa-icon {
    margin-right: 0px;
}

.modal-footer fa-icon {
    margin-left: 5px;
}