.container-fluid,
table {
    margin-top: 30px;
}

tr {
    text-align: center;
}

.select-line:hover {
    color: white;
    background-color: cornflowerblue
}

button {
    font-size: 16px;
    font-weight: bold;
}

.paginacao {
    float: right;
}